* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/**************** HEADER AND NAVBAR *****************/
a {
    text-decoration: none;
    color: inherit;
}
a:hover, a:visited:hover {
    color: #F51C32;
}
a:visited {
    color: inherit;
}
.active, .active:visited {
    color: aquamarine;
    cursor: none;
    pointer-events: none;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B303A;
    margin: 0;
    padding: 0.6vw 10vw;
    color: #FFFFFF;
}

.logo_and_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 27vw;
}
.logo {
    height: 5vw;
    float: left;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}
li {
    margin: auto 1rem;
    cursor: pointer;
}

nav ul li {
    font-size: 1.5vw;
}

.website_name {
    font-size: 2vw;
}

/**************** BODY *****************/
body {
    margin: 0;
    padding: 0;
    background-color: #F51C32;
}

/**************** HOMEPAGE + CONTENT SECTION *****************/
.intro {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(Homepage_photos/allianz_arena.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

.welcome1 {
    margin: 0;
    padding-top: 85vh;
    padding-left: 3vw;
    color: #FFFFFF;
    font-size: 5vw;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.40);
}

.content {
    margin: 8vh auto 2vh;
    background-color: #FFFFFF;
    color: #2B303A;
    width: 80vw;
    padding: 3vw;
    border-radius: 7px;
    box-shadow: 0 6px 8px 0 rgb(0, 0, 0, 0.2), 0 8px 20px 0 rgb(0, 0, 0, 0.19);
    flex-wrap: wrap;
}

.home {
    margin-top: 2vw;
}

hr {
    border: dotted #F51C32 2vh;
    border-bottom: none;
    width: 30vw;
    margin: 10vh auto;
}

.photo {
    width: 74vw;
}

/**************** STANDINGS PAGE *****************/
.intro_standings {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(Standings_intro/bundesliga.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
}
/* .standings_welcome {
    margin: 0;
    padding-top: 87vh;
    color: #FFFFFF;
    font-size: 8vh;
    width: 100vw;
    text-align: center;
} */
table {
    width: 60vw;
    border-spacing: 0;
}
thead {
    text-align: left;
}
td, th {
    border-top: solid #2B303A 1px;
    padding: 1vw;
}
tr:hover {
    background-color: aquamarine;
}
td:last-child {
    font-weight: bold;
}
.right_align {
    text-align: right;
}


/**************** ABOUT PAGE *****************/
.intro_about {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-image: url(About_intro/berni.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 78%;
}
.about_welcome {
    margin: 0;
    padding-top: 87vh;
    padding-left: 3vw;
    color: #FFFFFF;
    font-size: 8vh;
    width: 100vw;
    background-color: rgb(0, 0, 0, 0.50);
}
.btn{
color: #fff;
background-color: #f51c32;
padding: 10px 30px;
border: solid #f51c32 2px;
box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
border-radius: 9px;
transition : 528ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
text-transform: uppercase;
}

.btn:hover{

transition : 528ms;
padding: 10px 50px;
transform : translateY(-0px);
background-color: #fff;
color: #2b303a;
border: solid 2px #f51c32;
}

/**************** FOOTER *****************/
footer {
    background-color: #2B303A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    padding: 0 10vw;
    font-size: 2vw;
}
.follow {
    display: flex;
    justify-content: space-between;
}
.fa-facebook:hover {
    color: rgb(0, 94, 188);
}
.fa-instagram:hover {
    color: rgb(255, 133, 133);
}
.fa-twitter:hover {
    color: dodgerblue;
}


@media screen and (max-width: 900px) {
/**************** HEADER + NAV *****************/
    header {
        padding-top: 2vw;
        flex-direction: column;
        align-items: center;
    }
    .nav {
        margin-top: 3%;
        display: flex;
        width: 100vw;
        justify-content: space-evenly;
    }
    nav ul li {
        font-size: 2.5vw;
    }
    .website_name {
        margin: auto 2vw;
        font-size: 3.5vw;
    }
    .logo_and_name {
        width: fit-content;
    }
/**************** BODY + CONTENT-BOX *****************/
    .welcome1 {
        padding-top: 80vh;
    }
    .content {
        margin: 8vw auto 2vw;
        padding-top: 2vw;
        width: 90vw;
    }
    .home {
        margin-top: 8vw;
    }
    iframe {
        height: 35vh;
    }
    .photo {
        width: 84vw;
    }
/**************** STANDINGS *****************/
    table {
        width: 84vw;
    }
/**************** FOOTER *****************/
    footer {
        padding: 0 5vw;
        font-size: 3vw;
    }
}