* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    color: #FFFFFF;
}

a {
    text-decoration: none;
}
a:hover {
    color: #F51C32;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2B303A;
    margin: 0;
    padding: 1% 10%;
    
}

.logo_and_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 28vmax;
}
.logo {
    height: 5vmax;
    float: left;

}

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    margin: auto 1rem;
    cursor: pointer;
    font-size: 1.5vmax;
}

h1 {
    font-size: 2vmax;
}


@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .website_name {
        margin: auto;
    }
}